<footer class="mt-auto bg-blue-700 rounded-t-lg shadow w-full text-white">
  <div class="flex flex-col items-center">
    <span class="text-xl sm:text-center mb-5">Created by <a class="underline" href="https://github.com/Krpeta21" target="_blank">Krpeta21.</a></span>
    <span class="text-xl sm:text-center">Feel free to use the <a class="underline" target="_blank" href="https://github.com/Krpeta21/ai-chef">code.</a></span>
  </div>
</footer>
